In [1]:
# Importing the main libraries
import pandas as pd
import numpy as np

In [2]:
# Loading the first csv file
main_data = pd.read_csv('restaurants.csv')
# Since pandas displays a limited number of rows, we are setting this to 500 rows so that we can explore the dataset
pd.set_option('display.max_rows', 500)

In [3]:
# Fetching the first five rows
main_data.head()

,id,position,name,score,ratings,category,price_range,full_address,zip_code,lat,lng
0,1,19,PJ Fresh (224 Daniel Payne Drive),NaN,NaN,"Burgers, American, Sandwiches",$,"224 Daniel Payne Drive, Birmingham, AL, 35207",35207,33.562365,-86.830703
1,2,9,J' ti`'z Smoothie-N-Coffee Bar,NaN,NaN,"Coffee and Tea, Breakfast and Brunch, Bubble Tea",NaN,"1521 Pinson Valley Parkway, Birmingham, AL, 35217",35217,33.583640,-86.773330
2,3,6,Philly Fresh Cheesesteaks (541-B Graymont Ave),NaN,NaN,"American, Cheesesteak, Sandwiches, Alcohol",$,"541-B Graymont Ave, Birmingham, AL, 35204",35204,33.509800,-86.854640
3,4,17,Papa Murphy's (1580 Montgomery Highway),NaN,NaN,Pizza,$,"1580 Montgomery Highway, Hoover, AL, 35226",35226,33.404439,-86.806614
4,5,162,Nelson Brothers Cafe (17th St N),4.7,22.0,"Breakfast and Brunch, Burgers, Sandwiches",NaN,"314 17th St N, Birmingham, AL, 35203",35203,33.514730,-86.811700

In [4]:
# Renaming the columns here which will help us to understand the data 
main_data.rename(columns={"id": "restaurant_id", "position": "restaurant_position_in_search_result", "name": "restaurant_name", "category": "super_category", "lng": "long"}, inplace=True)

In [5]:
# Printing the output to check the new headers
main_data.head()

,restaurant_id,restaurant_position_in_search_result,restaurant_name,score,ratings,super_category,price_range,full_address,zip_code,lat,long
0,1,19,PJ Fresh (224 Daniel Payne Drive),NaN,NaN,"Burgers, American, Sandwiches",$,"224 Daniel Payne Drive, Birmingham, AL, 35207",35207,33.562365,-86.830703
1,2,9,J' ti`'z Smoothie-N-Coffee Bar,NaN,NaN,"Coffee and Tea, Breakfast and Brunch, Bubble Tea",NaN,"1521 Pinson Valley Parkway, Birmingham, AL, 35217",35217,33.583640,-86.773330
2,3,6,Philly Fresh Cheesesteaks (541-B Graymont Ave),NaN,NaN,"American, Cheesesteak, Sandwiches, Alcohol",$,"541-B Graymont Ave, Birmingham, AL, 35204",35204,33.509800,-86.854640
3,4,17,Papa Murphy's (1580 Montgomery Highway),NaN,NaN,Pizza,$,"1580 Montgomery Highway, Hoover, AL, 35226",35226,33.404439,-86.806614
4,5,162,Nelson Brothers Cafe (17th St N),4.7,22.0,"Breakfast and Brunch, Burgers, Sandwiches",NaN,"314 17th St N, Birmingham, AL, 35203",35203,33.514730,-86.811700

### Exploring the Dataset:

In [6]:
main_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40227 entries, 0 to 40226
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   restaurant_id                         40227 non-null  int64
 1   restaurant_position_in_search_result  40227 non-null  int64
 2   restaurant_name                       40227 non-null  object
 3   score                                 22254 non-null  float64
 4   ratings                               22254 non-null  float64
 5   super_category                        40204 non-null  object
 6   price_range                           33581 non-null  object
 7   full_address                          39949 non-null  object
 8   zip_code                              39940 non-null  object
 9   lat                                   40227 non-null  float64
 10  long                                  40227 non-null  float64
dtypes: float64(4), int64(2), object(5)
memory usage: 3.4+ MB

In [7]:
main_data.describe()

,restaurant_id,restaurant_position_in_search_result,score,ratings,lat,long
count,40227.000000,40227.000000,22254.000000,22254.000000,40227.000000,40227.000000
mean,20114.000000,79.529843,4.560996,74.870989,39.927033,-96.549713
std,11612.678976,77.611449,0.298041,72.381529,5.765774,17.961361
min,1.000000,1.000000,1.300000,10.000000,0.000000,-123.841240
25%,10057.500000,14.000000,4.400000,25.000000,37.082007,-113.587301
50%,20114.000000,51.000000,4.600000,51.000000,39.000990,-96.587547
75%,30170.500000,129.000000,4.800000,100.000000,45.493640,-77.528825
max,40227.000000,300.000000,5.000000,500.000000,48.963950,0.000000

In [8]:
main_data.columns

Index(['restaurant_id', 'restaurant_position_in_search_result',
       'restaurant_name', 'score', 'ratings', 'super_category', 'price_range',
       'full_address', 'zip_code', 'lat', 'long'],
      dtype='object')

In [9]:
main_data.shape

(40227, 11)

In [10]:
main_data.dtypes

restaurant_id                             int64
restaurant_position_in_search_result      int64
restaurant_name                          object
score                                   float64
ratings                                 float64
super_category                           object
price_range                              object
full_address                             object
zip_code                                 object
lat                                     float64
long                                    float64
dtype: object

In [12]:
# Checking for null values
main_data.isnull().sum()

restaurant_id                               0
restaurant_position_in_search_result        0
restaurant_name                             0
score                                   17973
ratings                                 17973
super_category                             23
price_range                              6646
full_address                              278
zip_code                                  287
lat                                         0
long                                        0
dtype: int64

### Basic Insights:

1. There are missing values in the score, ratings, super_category, price_range, full_address, and zip code columns. We will probably be using the mean/mode value to fill the score and ratings column. However, we can drop the 23 rows where the super_category is not mentioned since it will not have a big impact on the data. Whereas for the full_address column, the only insight we can extract from here is the state and the city which would be helpful to have a holistic picture of the data segmenting it on the restaurant_name. Hence, for the missing values we can also drop these rows since they won't have sufficient damage on the dataset. 

2. For the total number of restaurants, we can extract this information by checking the duplicates for restaurant_id, clean the data for the restaurant_name and check the value_counts. If there are multiple rows for the same restaurant_name, we can check for the state and city and distribute the data by creating a new column to check if a restaurant has multiple branches or not. 

3. For the price_range column, we need to fix the values first and then use it to compare with the restaurants score and rating. From this, we can find the top and bottom restaurants. 

4. The category column needs a lot of fixing. We need to clean the column and then convert it into a list to check the most famous categories on the basis of the restaurant name and score.

#### Fixing the NULL values:

In [13]:
main_data['score'].unique()

array([nan, 4.7, 4.6, 5. , 4.9, 3.7, 4.8, 4.3, 4.4, 4.1, 4.5, 4.2, 4. ,
       3.8, 3.9, 3.5, 3.2, 3.6, 3. , 3.4, 3.3, 3.1, 2.2, 2.7, 2.9, 2.4,
       2.8, 2.6, 2.5, 2.1, 1.9, 2. , 2.3, 1.3])

In [14]:
main_data['score'].value_counts()

4.7    3966
4.8    3824
4.6    3325
4.5    2665
4.4    1876
4.9    1839
4.3    1311
4.2     976
4.1     624
5.0     574
4.0     376
3.9     285
3.8     202
3.7     115
3.6      75
3.5      61
3.4      39
3.2      34
3.3      24
3.0      12
3.1      11
2.7      10
2.9      10
2.8       7
2.6       3
2.1       3
1.9       1
2.3       1
2.0       1
2.4       1
2.5       1
2.2       1
1.3       1
Name: score, dtype: int64

In [15]:
main_data['score'].mean()

4.5609957760403095

In [16]:
main_data['score'].mode()

0    4.7
Name: score, dtype: float64

In [17]:
main_data['score'].fillna(main_data['score'].mean(), inplace=True)

In [18]:
main_data['score'].isnull().sum()

0

In [19]:
main_data['ratings'].unique()

array([ nan,  22.,  63.,  44.,  20.,  48.,  19., 100.,  21.,  24.,  39.,
        62.,  23.,  91.,  17.,  28.,  29.,  56.,  35.,  61.,  79.,  59.,
        34.,  37.,  50.,  52.,  31.,  30.,  32.,  18.,  78.,  12.,  68.,
        47.,  49.,  54.,  15.,  51.,  16.,  45.,  26.,  96.,  76.,  11.,
        13.,  80.,  55.,  97.,  73.,  43.,  77.,  46.,  25.,  86.,  33.,
        14.,  64.,  74.,  57.,  58.,  10.,  93.,  36.,  40.,  82.,  84.,
        42.,  60.,  38.,  69.,  67.,  27.,  41.,  87.,  53.,  66.,  94.,
        88.,  89.,  72.,  99.,  81.,  92.,  95.,  85.,  75.,  65.,  83.,
        70., 200., 128., 115.,  71., 107., 106., 120., 163., 132.,  90.,
       112., 105., 110., 123., 142., 109., 135., 192., 108., 126., 182.,
       184., 183., 141., 169., 160., 150., 146., 131., 140., 103., 143.,
       190., 124., 153., 127., 156., 133., 152., 137., 121., 198., 178.,
       171., 117., 118., 180., 159., 119., 154., 174., 102., 173., 185.,
       186., 165., 125., 168., 114., 155., 157., 130.,  98., 188., 162.,
       122., 145., 187., 104., 138., 116., 193., 166., 129., 161., 199.,
       111., 101., 191., 158., 134., 170., 144., 167., 177., 139., 113.,
       195., 147., 172., 189., 136., 164., 194., 179., 149., 151., 148.,
       175., 176., 196., 181., 197., 398., 278., 250., 221., 247., 297.,
       312., 236., 262., 228., 237., 234., 253., 222., 249., 326., 264.,
       246., 256., 375., 318., 211., 314., 230., 257., 207., 215., 500.,
       340., 224., 348., 223., 233., 210., 289., 408., 216., 252., 245.,
       445., 332., 287., 238., 291., 276., 209., 309., 225., 274., 244.,
       260., 284., 319., 304., 345., 248., 201., 231., 330., 202., 219.,
       422., 389., 321., 275., 325., 371., 301., 205., 271., 220., 463.,
       204., 444., 324., 213., 404., 263., 203., 240., 226., 361., 346.,
       339., 265., 261., 362., 218., 227., 364., 461., 334., 446., 365.,
       383., 243., 305., 359., 235., 470., 396., 320., 413., 376., 373.,
       206., 266., 331., 267., 368., 208., 328., 496., 259., 212., 232.,
       429., 351., 402., 377., 270., 358., 355., 417., 302., 401., 316.,
       350., 214., 374., 452., 239., 367., 425., 299., 273., 379., 300.,
       298., 217., 498., 354., 433., 366., 418., 277., 335., 293., 307.,
       292., 495., 338., 279., 454., 281., 280., 294., 288., 268., 486.,
       411., 336., 471., 343., 258., 290., 254., 435., 251., 242., 386.,
       241., 485., 356., 342., 391., 357., 431., 439., 423., 432., 491.,
       333., 400., 465., 370., 441., 394., 285., 308., 460., 352., 434.,
       282., 477., 430., 283., 313., 458., 487., 442., 384., 494., 397.,
       488., 369., 466., 360., 311., 337., 229., 380., 347., 315., 306.,
       438., 436., 479., 286., 303., 255., 399., 323., 388., 392.])

In [20]:
main_data['ratings'].value_counts(ascending = False)

200.0    930
10.0     497
12.0     480
11.0     475
100.0    466
13.0     414
14.0     381
16.0     379
15.0     371
17.0     348
20.0     334
18.0     330
21.0     329
19.0     302
25.0     300
22.0     292
23.0     277
32.0     275
24.0     265
50.0     259
26.0     253
30.0     252
28.0     248
27.0     238
33.0     234
29.0     231
38.0     230
37.0     224
31.0     217
35.0     211
34.0     205
36.0     203
39.0     202
45.0     202
41.0     200
42.0     194
40.0     193
48.0     188
43.0     183
47.0     164
52.0     163
51.0     162
49.0     161
53.0     159
44.0     157
46.0     153
57.0     151
54.0     150
60.0     143
58.0     140
56.0     140
67.0     139
65.0     136
55.0     134
61.0     134
71.0     130
62.0     128
66.0     126
500.0    125
79.0     125
59.0     122
73.0     118
76.0     118
80.0     115
69.0     114
68.0     112
64.0     112
81.0     111
74.0     110
72.0     108
77.0     108
63.0     102
91.0     102
70.0     102
78.0     101
84.0      99
83.0      99
75.0      96
87.0      95
93.0      91
86.0      90
89.0      90
85.0      88
82.0      85
90.0      84
88.0      83
95.0      82
94.0      82
92.0      81
105.0     75
96.0      72
99.0      71
102.0     70
97.0      69
103.0     69
106.0     69
104.0     68
110.0     65
98.0      64
109.0     63
108.0     61
121.0     61
112.0     60
107.0     60
111.0     57
116.0     56
127.0     55
124.0     53
130.0     52
101.0     52
115.0     51
118.0     51
120.0     51
156.0     49
119.0     48
132.0     48
114.0     48
150.0     47
123.0     47
117.0     47
125.0     46
133.0     46
113.0     45
140.0     44
128.0     44
126.0     42
142.0     42
136.0     41
135.0     41
134.0     41
122.0     38
152.0     38
129.0     37
137.0     37
131.0     37
143.0     37
145.0     36
155.0     36
139.0     35
164.0     34
176.0     34
146.0     34
161.0     34
138.0     33
171.0     33
163.0     33
160.0     33
149.0     32
141.0     32
166.0     32
162.0     32
185.0     31
147.0     31
148.0     31
154.0     31
144.0     29
167.0     27
182.0     27
168.0     27
169.0     27
165.0     27
159.0     26
157.0     26
190.0     26
178.0     25
153.0     25
180.0     24
151.0     23
179.0     23
158.0     23
175.0     22
170.0     22
174.0     21
196.0     21
192.0     21
181.0     20
189.0     20
173.0     20
172.0     19
191.0     19
199.0     19
188.0     19
186.0     18
177.0     18
195.0     16
194.0     16
183.0     16
187.0     15
198.0     15
193.0     14
197.0     14
184.0     13
262.0     11
233.0     11
222.0     10
211.0     10
207.0     10
276.0      9
236.0      9
213.0      9
204.0      8
230.0      8
238.0      8
212.0      8
245.0      8
216.0      8
223.0      7
228.0      7
202.0      7
224.0      7
226.0      7
221.0      7
205.0      6
287.0      6
244.0      6
304.0      6
227.0      6
246.0      6
250.0      6
264.0      6
240.0      5
203.0      5
265.0      5
247.0      5
278.0      5
461.0      5
208.0      5
231.0      5
302.0      5
234.0      5
319.0      5
249.0      5
215.0      5
293.0      5
292.0      5
277.0      4
270.0      4
289.0      4
331.0      4
325.0      4
241.0      4
218.0      4
259.0      4
217.0      4
219.0      4
237.0      4
288.0      4
248.0      4
314.0      4
284.0      4
260.0      4
253.0      4
299.0      4
209.0      4
271.0      4
235.0      3
370.0      3
339.0      3
487.0      3
442.0      3
243.0      3
232.0      3
373.0      3
206.0      3
368.0      3
343.0      3
336.0      3
361.0      3
239.0      3
425.0      3
335.0      3
214.0      3
316.0      3
274.0      3
252.0      3
225.0      3
309.0      3
330.0      3
275.0      3
326.0      3
318.0      3
256.0      3
291.0      3
220.0      3
257.0      3
348.0      2
313.0      2
418.0      2
298.0      2
354.0      2
300.0      2
379.0      2
273.0      2
374.0      2
345.0      2
283.0      2
282.0      2
338.0      2
340.0      2
439.0      2
357.0      2
400.0      2
342.0      2
356.0      2
465.0      2
210.0      2
242.0      2
435.0      2
254.0      2
258.0      2
408.0      2
471.0      2
375.0      2
308.0      2
268.0      2
352.0      2
350.0      2
346.0      2
401.0      2
229.0      2
404.0      2
261.0      2
324.0      2
444.0      2
364.0      2
334.0      2
365.0      2
359.0      2
470.0      2
396.0      2
320.0      2
266.0      2
267.0      2
312.0      2
351.0      2
398.0      2
417.0      2
429.0      2
423.0      2
306.0      1
384.0      1
315.0      1
333.0      1
397.0      1
388.0      1
491.0      1
494.0      1
369.0      1
323.0      1
466.0      1
399.0      1
441.0      1
360.0      1
255.0      1
394.0      1
303.0      1
286.0      1
311.0      1
347.0      1
285.0      1
458.0      1
337.0      1
479.0      1
460.0      1
436.0      1
434.0      1
488.0      1
477.0      1
438.0      1
430.0      1
380.0      1
454.0      1
432.0      1
431.0      1
355.0      1
358.0      1
377.0      1
402.0      1
422.0      1
389.0      1
496.0      1
328.0      1
321.0      1
371.0      1
301.0      1
376.0      1
413.0      1
305.0      1
463.0      1
383.0      1
446.0      1
297.0      1
362.0      1
201.0      1
452.0      1
367.0      1
280.0      1
391.0      1
485.0      1
386.0      1
251.0      1
290.0      1
411.0      1
486.0      1
294.0      1
281.0      1
498.0      1
263.0      1
279.0      1
495.0      1
307.0      1
445.0      1
332.0      1
366.0      1
433.0      1
392.0      1
Name: ratings, dtype: int64

In [21]:
main_data['ratings'].mean()

74.8709894850364

In [22]:
main_data['ratings'].mode()

0    200.0
Name: ratings, dtype: float64

In [23]:
main_data['ratings'].fillna(main_data['ratings'].mean(), inplace=True)

In [24]:
main_data['ratings'].isnull().sum()

0

In [25]:
main_data.dropna(subset=['super_category', 'full_address', 'zip_code'], inplace=True, how='any', axis=0)

In [26]:
main_data.isnull().sum()

restaurant_id                              0
restaurant_position_in_search_result       0
restaurant_name                            0
score                                      0
ratings                                    0
super_category                             0
price_range                             6527
full_address                               0
zip_code                                   0
lat                                        0
long                                       0
dtype: int64

In [27]:
main_data['price_range'].unique()

array(['$', nan, '$$', '$$$', '$$$$'], dtype=object)

In [28]:
main_data['price_range'].value_counts()

$       24288
$$       8946
$$$       147
$$$$       18
Name: price_range, dtype: int64

In [29]:
# Replacing the values for the price_range column
main_data['price_range'].replace({'$': 'Cheap', '$$': 'Slighty Expensive', '$$$': 'Expensive', '$$$$': 'Very Expensive'}, inplace=True)

In [32]:
main_data['price_range'].value_counts()

Cheap                24288
Slighty Expensive     8946
Expensive              147
Very Expensive          18
Name: price_range, dtype: int64

In [34]:
main_data['price_range'].mode()

0    Cheap
Name: price_range, dtype: object

In [39]:
main_data['price_range'].fillna(main_data['price_range'].mode()[0], inplace=True)

In [40]:
main_data['price_range'].isnull().sum()

0

In [41]:
# Checking the null values for all columns now
main_data.isnull().sum()

restaurant_id                           0
restaurant_position_in_search_result    0
restaurant_name                         0
score                                   0
ratings                                 0
super_category                          0
price_range                             0
full_address                            0
zip_code                                0
lat                                     0
long                                    0
dtype: int64